body {
  
  background-color: bisque;
  color: goldenrod;
  
}
/* body {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('JCPT.JPG');
  background-size: cover;
  background-position: center;
} */
